.container {
    background-color: var(--primary);
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 25px 0;
}

.navBar {
    width: 1400px;
    background-color: purple;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.mainContent {
    background: green;
    width: 1400px;
    margin: 0 auto;
    flex: 1;
}