.container {
    background-color: var(--primary);
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 25px 0;
}

.mainContent {
    background: var(--background_white);
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    flex: 1;
    border-radius: 0 0 var(--extraRound) var(--extraRound);
    box-shadow: var(--strongShadow);
    padding: 50px 50px 150px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-row-gap: 60px;
    justify-items: center;
    overflow-y: scroll;
}

.adminMessage {
    color: var(--greyBlue);
    text-align: center;
    font-family: Amatic SC;
    font-size: var(--P4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 31px;
}

.adminMessageTitle {
    font-weight: var(--bold);
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.adminMessageSubtitle {
    font-weight: var(--regular);
}
