.productCard {
    width: 240px;
    height: 330px;
    background-color: var(--white);
    box-shadow: var(--mediumShadow);
    padding: 50px 20px 10px 20px;
    border-radius: var(--extraRound);
}

.hoverableCard:hover {
    cursor: pointer;
    box-shadow: -3px 8px 20px 0px rgba(255, 160, 27, 0.7);
}

.imgContainer {
    width: 200px;
    height: 145px;
    display: flex;
    justify-content: center;
    margin: 0 auto 15px auto;
}

.deleteIconContainer {
    height: 0px;
    display: flex;
    justify-content: flex-end;
}

.deleteIcon {
    height: 30px;
    width: 30px;
    position: relative;
    top: -35px;
    right: -5px;
    cursor: pointer;
    color: var(--primary);
}

.deleteIcon:hover {
    color: var(--red);
}

.productImg {
    object-fit: contain;
}

.productTitle {
    color: var(--dark);
    font-size: var(--P4);
    font-weight: var(--bold);
    font-family: 'Amatic SC';
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-height: 46px;
}

.priceAndBtnContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productPrice {
    color: var(--primary);
    line-height: 22px;
    font-weight: var(--regular);
    padding: 22.25px 50px 22.25px 0px;
}
