.navBar {
    max-width: 1400px;
    width: 100%;
    background-color: var(--white);
    margin: 0 auto;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-radius: var(--extraRound) var(--extraRound) 0 0;
}
