.container {
    height: var(--xl);
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: var(--round);
    transition: background-color 0.3s ease, color 0.3s ease,
        border-color 0.3s ease;
    transition-delay: 0.2s;
    border: 1px solid transparent;
}

.container:hover {
    border-color: var(--primary);
}

.container:hover,
.container:hover > * {
    background-color: var(--white);
    color: var(--primary);
    transition-delay: 0;
}

.container:active,
.container:active > * {
    background-color: var(--primary);
    color: var(--white);
    transition-delay: 0s;
}

.container button {
    border: none;
    background-color: var(--primary);
    color: var(--white);
    text-align: center;
    font-family: Arial;
    font-size: var(--P0);
    font-style: normal;
    font-weight: var(--bold);
    line-height: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    transition-delay: 0.2s;
}
