.defaultContainer {
    height: var(--xl);
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: var(--round);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
        border-color 0.3s ease-in-out;
    transition-delay: 0.2s;
    border: 1px solid transparent;
}

.primaryButtonContainer:hover {
    border-color: var(--primary);
}

.primaryButtonContainer:hover,
.primaryButtonContainer:hover > * {
    background-color: var(--white);
    color: var(--primary);
    transition-delay: 0;
}

.primaryButtonContainer:active,
.primaryButtonContainer:active > * {
    background-color: var(--primary);
    color: var(--white);
    transition-delay: 0s;
}

.secondaryButtonContainer,
.secondaryButtonContainer > * {
    background-color: #60bd4f !important;
}

.secondaryButtonContainer:hover,
.secondaryButtonContainer:hover > * {
    color: #60bd4f;
    border-color: #60bd4f;
    background-color: var(--white) !important;
}

.defaultContainer button {
    border: none;
    background-color: var(--primary);
    color: var(--white);
    text-align: center;
    font-family: Arial;
    font-size: var(--P0);
    font-style: normal;
    font-weight: var(--bold);
    line-height: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    transition-delay: 0.2s;
}
