.container {
    height: var(--xl);
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: var(--round);
}

.container:hover {
    border: 1px solid var(--primary);
}

.container:hover,
.container:hover > * {
    background-color: var(--white);
    color: var(--primary);
}

.container button {
    border: none;
    background-color: var(--primary);
    color: var(--white);
    text-align: center;
    font-family: Arial;
    font-size: var(--P0);
    font-style: normal;
    font-weight: var(--bold);
    line-height: 15px;
    cursor: pointer;
}