.adminPanelForm {
    display: flex;
}

.adminPanelLeftSide {
    margin-left: 50px;
    margin-right: 20px;
    height: calc(199px - 54px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminPanelLeftSide p {
    padding: 48px 54px;
    border: 1px solid var(--greyLight);
    border-radius: var(--round);
    color: var(--greySemiDark);
    font-family: Open Sans;
    font-size: var(--P0);
    font-weight: var(--regular);
    line-height: var(--P3);
}

.adminPanelRightSide input {
    display: block;
}

.previewProduct {
    width: 100px;
    height: 100px;
}
