.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    ::before {
        content: '';
        background: url('burger-background.jpg');
        background-position: center;
        background-size: cover;
        background-blend-mode: darken;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        box-shadow: inset 0 0 500px 100px #000000;
    }
}

.welcome-title {
    color: #fff;
    text-align: center;
    font-family: Amatic SC;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 61px;
    margin-bottom: 32px;
}

.break-hr {
    width: 400px;
    height: 3px;
    background: #f56a2c;
    border: 1px solid #f56a2c;
    margin-bottom: 32px;
}

.login-title {
    color: #fff;
    text-align: center;
    font-family: Amatic SC;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 18px;
}
