.personIcon {
    color: var(--greyBlue);
    margin-left: var(--md);
}

.primaryBtnContainer {
    display: flex;
    justify-content: center;
}

.chevronIcon {
    color: var(--white);
}

.chevronIcon :hover {
    color: var(--primary)
}