.adminPanel {
    max-width: 1400px;
    width: 100%;
    background-color: #fff;
    display: flex;
    box-shadow: var(--subtleShadow);
}

.adminPanelTxt {
    padding-top: 17px;
    width: 100%;
}
